# Node modules
node_modules/

# Environment variables 
# TODO - add env here and move contents to secrets manager or local env

# Logs
logs
*.log

# Build artifacts
dist/
build/

# Docker
docker-compose.override.yml